/* CONTACTS */
.contact {
    margin: 56px 0 60px 0;
}

.contacts-list {
    display: grid;
    gap: 20px;
    justify-content: center;
}

.contacts-main-item {
    width: 280px;
    background-color: var(--white);
    border-radius: 24px;
    padding: 40px 32px 24px 32px;
    box-shadow: 0 8px 30px 0px rgba(212, 20, 67, 0.1);
}

.contacts-place-type,
.contacts-place-type:nth-child(2) {
    min-width: 80px;
    background-color: var(--yellow);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 4px 22px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.48px;
}

.contacts-city {
    font-size: 12px;
    letter-spacing: 0.48px;
    border-bottom: 1px solid hsla(0, 0%, 88%, 1);
    padding-bottom: 24px;
}

.contacts-adress {
    color: hsla(22, 56%, 63%, 1);
    margin-top: 8px;
    line-height: 1.83;
    display: block;
}

.contacts-workhours-box {
    padding: 24px 0;
    display: grid;
    gap: 8px;
    border-bottom: 1px solid hsla(0, 0%, 88%, 1);
    font-size: 12px;
    line-height: 1.86;
}

.contacts-workhours-opentime {
    display: flex;
    flex-direction: column;
}

.contacts-workhours {
    letter-spacing: normal;
}

.contacts-workhours-wrapper {
    color: var(--grey);
    display: block;
}

.contact-details a {
    color: var(--not-so-black);
}

.contacts-details {
    font-size: 12px;
    line-height: 1.6;
    padding-top: 24px;
    display: grid;
    gap: 6px;
}

.contacts-tel {
    color: var(--not-so-black);
}

.contacts-email {
    color: var(--not-so-black);
}
.contacts-buttons-list {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    display: flex;
}
.contacts-button-wrapper {
    min-width: 196px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    display: flex;
    cursor: pointer;
    outline: none;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    transition: fill .25s cubic-bezier(.4, 0, .2, 1),
        color .25s cubic-bezier(.4, 0, .2, 1),
        background-color .25s cubic-bezier(.4, 0, .2, 1);
    border-radius: 8px;
    border: 2px solid var(--yellow);
}

.contacts-buttons-item:nth-child(1) .contacts-button-wrapper {
    background-color: var(--yellow);
    border: 2px solid rgba(0, 0, 0, 0);
}

.contacts-buttons-item:nth-child(1) .contacts-button-wrapper:hover,
.contacts-buttons-item:nth-child(1) .contacts-button-wrapper:focus {
    background-color: #0a8817;
    color: var(--white);
    fill: var(--white);
}

.contacts-buttons-item:nth-child(2) .contacts-button-wrapper {
    background-color: transparent;
    border-color: var(--yellow);
}

.contacts-buttons-item:nth-child(2) .contacts-button-wrapper:hover,
.contacts-buttons-item:nth-child(2) .contacts-button-wrapper:focus {
    border-color: #0a8817;
    color: var(--white);
    fill: var(--white);
}

/*          MEDIA QUERY        */

@media (min-width: 768px) {
    .contact {
        margin: 80px 0 40px 0;
    }
    .contacts-list {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    .contacts-buttons-list {
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        margin-top: 40px;
    }
    .contacts-main-item {
        width: 224px;
        padding: 40px 24px;
    }
    .contacts-place-type {
        min-width: 73px;
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: 0.64px;
        border-radius: 6px;

          margin-bottom: 36px;

    }
    .contacts-list .contacts-main-item:nth-child(1) .contacts-place-type {
        padding: 4px 13px;
    }
    .contacts-list .contacts-main-item:nth-child(2) .contacts-place-type {
        padding: 4px 10px;
    }

    .contacts-city {
        font-size: 14px;
        letter-spacing: 0.56px;
        padding-bottom: 32px;
    }
    .contacts-adress {
        margin-top: 12px;
    }
    .contacts-workhours-box{
        padding: 32px 0;
    }
    .contacts-workhours-opentime {
        font-size: 14px;
    }
    .contacts-details {
        font-size: 14px;
        line-height: 1.5;
        padding-top: 32px;
        gap: 4px;    
    }

}

@media (min-width: 1200px) {
.contact {
        margin: 100px 0 120px 0;
    }
    .contacts-buttons-list {
        margin-top: 60px;
    }
    .contacts-main-item {
        width: 368px;
        padding: 40px;
    }
    .contacts-place-type {
        min-width: 76px;
    }
    .contacts-city {
        font-size: 16px;
        letter-spacing: 0.64px;
    }
    .contacts-adress {
        margin-top: 8px;
    }
    .contacts-adress:hover {
        text-decoration:underline;
    }
    .contacts-workhours-opentime {
        font-size: 16px;
    }

    .contacts-details {
        font-size: 16px;
        line-height: 1.5;
        padding-top: 32px;
        gap: 4px;
    }
}

