/*                                  FOOTER                  */
.footer-big-text {
  color: var(--white);
  width: 232px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.footer-big-text > h2 {
  font-size: 34px;
  letter-spacing: 1.36px;
  margin-top: 20px;
  width: 200px;
  margin-top: 16px;
}
.footer-socials-svg {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.ft-icon-background:hover > svg {
  fill: var(--white);
}
.footer-socials-icons {
  width: 20px;
  height: 20px;
  fill: var(--pastel);
}
.footer-contact-phone {
  color: var(--not-so-black);
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
  margin-right: 20px;
  margin-bottom: 40px;
}
.footer-contact-phone > a {
  color: var(--white);
}
.copyright-container {
  display: flex;
  justify-content: center;
}
.site-copyrights {
  width: 280px;
  color: #7a7a7a;
  text-align: center;
  text-wrap: balance;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 152%;
  margin: 20px auto;
}
.ft-icon-background {
  display: flex;
  width: 34px;
  background-color: var(--yellow);
  border-radius: 50%;
  padding: 7px;
  cursor: pointer;
}
.footer__container {
  border-bottom: 1px #e1e1e1 solid;
}
/*--------------MEDIA QUERIES---------------*/

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-big-text {
    font-size: 26px;
    width: 352px;
    letter-spacing: 1.04px;
    margin: 0;
  }
  .footer-big-text > h2 {
    font-size: 48px;
  }
  .ft-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }
  .footer-contact-phone {
    margin-bottom: 0;
    position: relative;
    top: 34px;
    margin-right: 0;
    font-size: 14px;
  }
  .footer-socials-svg {
    margin-bottom: 0;
    margin-right: 0;
    gap: 30px;
  }
  .site-copyrights {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  hr {
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .ft-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-big-text {
    font-size: 30px;
    letter-spacing: 1.2px;
    width: 504px;
    font-weight: 400;
  }
  .footer-big-text > h2 {
    font-size: 58px;
    width: 504px;
    font-weight: 700;
    letter-spacing: 3.48px;
    margin-top: 14px;
  }
  .footer-socials-svg {
    gap: 30px;
    margin-bottom: 40px;
  }
  .footer-contact-phone {
    font-size: 16px;
  }
  .site-copyrights {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
