:root {
  --black: hsla(0, 0%, 0%, 1);
  --not-so-black: hsla(0, 0%, 7%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --grey: hsla(0, 0%, 67%, 1);
  --yellow: hsla(47, 92%, 64%, 1);
  --pastel: hsla(102, 18%, 55%, 1);
  --form-border: hsla(126, 86%, 29%, 1);
  --form-bg: hsla(47, 92%, 64%, 0.1);
}
