<section class="about-section">
  <div class="container">
    <p class="about-paragraph">tradition and love</p>
    <h2 class="header-about">how it’s made?</h2>

    <div class="main-content">
      <div class="cow-photo">
        <img
          class="photo-2"
          src="/src/images/photo-cow-1x.jpg"
          srcset="/src/images/photo-cow-2x.jpg 2x"
          alt="cow photo"
        />
      </div>

      <div class="right-section">
        <div class="description">
          <p class="descrition-text">
            Ice is a place where you will become not only a little happier, but also healthier.
            Health is the main value for us, and we follow it when creating our handmade desserts.
          </p>
          <p class="descrition-text">
            We use traditional recipes and 100% natural ingredients. Our products are so natural
            that they can be given to children from the age of three years. Sweets lovers can expect
            55 types of ice cream, 15 types of coffee and 23 milkshakes.
          </p>
          <p class="descrition-text">This is enough to choose ice cream and coffee for any mood!</p>
        </div>
        <button type="button" data-modal-open="read-more" class="about-btn about-btn-text">
          Read more
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            class="about-btn-svg"
          >
            <path
              d="M3.96959 1.22698C3.82899 1.36762 3.75 1.55835 3.75 1.75723C3.75 1.9561 3.82899 2.14683 3.96959 2.28748L7.68209 5.99998L3.96959 9.71247C3.83297 9.85393 3.75738 10.0434 3.75908 10.24C3.76079 10.4367 3.83967 10.6248 3.97873 10.7638C4.11778 10.9029 4.30589 10.9818 4.50254 10.9835C4.69919 10.9852 4.88864 10.9096 5.03009 10.773L9.27284 6.53022C9.41344 6.38958 9.49243 6.19885 9.49243 5.99998C9.49243 5.8011 9.41344 5.61037 9.27284 5.46973L5.03009 1.22698C4.88944 1.08637 4.69871 1.00739 4.49984 1.00739C4.30097 1.00739 4.11024 1.08637 3.96959 1.22698Z"
              fill="black"
            />
          </svg>
        </button>
      </div>
      <button type="button" data-modal-open="7" class="about-btn about-btn-text">
        Read more
        <svg width="12" height="12">
          <use href="./images/icons-menu.svg#icon-ep_arrow-right-bold"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
