<section class="adv-container">
  <h2 class="visually-hidden">Adventages</h2>
  <div class="adv-layout">
    <div class="icon-background">
      <svg width="36px" height="36px">
        <use href="./images/icons.svg#icon-cow"></use>
      </svg>
    </div>
    <p class="adv-first-paragraph">721</p>
    <p class="adv-sec-paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
  </div>
  <div class="adv-layout">
    <div class="icon-background">
      <svg width="36px" height="36px">
        <use href="./images/icons.svg#icon-weight"></use>
      </svg>
    </div>
    <p class="adv-first-paragraph">16kg</p>
    <p class="adv-sec-paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
  </div>
  <div class="adv-layout">
    <div class="icon-background">
      <svg width="36px" height="36px">
        <use href="./images/icons.svg#icon-ice-cream"></use>
      </svg>
    </div>
    <p class="adv-first-paragraph">84kg</p>
    <p class="adv-sec-paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
  </div>
</section>
