<section class="container">
  <div class="section-container">
    <h2 class="visually-hidden">Adventages</h2>
    <div class="layout">
      <div class="icon-background">
        <svg width="36px" height="36px">
          <use href="./images/icons.svg#icon-cow"></use>
        </svg>
      </div>
      <p class="first-paragraph">721</p>
      <p class="sec-paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
    <div class="layout">
      <div class="icon-background">
        <svg width="36px" height="36px">
          <use href="./images/icons.svg#icon-weight"></use>
        </svg>
      </div>
      <p class="first-paragraph">16kg</p>
      <p class="sec-paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
    <div class="layout">
      <div class="icon-background">
        <svg width="36px" height="36px">
          <use href="./images/icons.svg#icon-ice-cream"></use>
        </svg>
      </div>
      <p class="first-paragraph">84kg</p>
      <p class="sec-paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
  </div>
</section>
