<section>
  <h2 class="visually-hidden">Advantages</h2>
  <div>
    <div>
      <div>
        <svg width="36px" height="36px">
          <use href="./images/icons.svg#icon-cow"></use>
        </svg>
      </div>
      <p>721</p>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
    <div>
      <div>
        <svg width="36px" height="36px">
          <use href="./images/icons.svg#icon-ice-cream"></use>
        </svg>
      </div>
      <p>16kg</p>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
    <div>
      <div>
        <svg width="36px" height="36px">
          <use href="./images/icons.svg#icon-weight"></use>
        </svg>
      </div>
      <p>84kg</p>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
  </div>
</section>
