<section class="contact container">
  <h2>Contacts</h2>
  <!--VISUALLY HIDDEN-->
  <ul class="contacts-list">
    <li class="contacts-main-item">
      <p class="contacts-place-type">CAFE</p>
      <p class="contacts-city">
        Chicago
        <a href="#" class="contacts-adress">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
        <!--link do gmaps w #-->
      </p>
      <p class="contacts-workhours">
        Monday - Friday
        <time class="contacts-workhours-wrapper" datetime="06:00">06:00 AM</time>-
        <time class="contacts-workhours-wrapper" datetime="22:00">10:00 PM</time>
      </p>
      <p class="contacts-workhours">
        Saturday - Sunday
        <time class="contacts-workhours-wrapper" datetime="08:00">08:00 AM</time>-
        <time class="contacts-workhours-wrapper" datetime="16:00">4:00 PM</time>
      </p>
      <!--nie do końca jestem tego pewien znacznik (TIME)-->
      <a href="tel:+61(0)383766284" class="contacts-tel">+61(0) 383 766 284</a>
      <a href="mailto:noreply@envato.com" class="contacts-email">noreply@envato.com</a>
    </li>
    <li class="contacts-main-item">
      <p class="contacts-place-type">FOODTRUCK</p>
      <p class="contacts-city">
        Los Angeles
        <a href="#" class="contacts-adress">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
        <!--link do gmaps w #-->
      </p>
      <p class="contacts-workhours">
        Monday - Friday
        <time class="contacts-workhours-wrapper" datetime="06:00">06:00 AM</time>-
        <time class="contacts-workhours-wrapper" datetime="22:00">10:00 PM</time>
      </p>
      <p class="contacts-workhours">
        Saturday - Sunday
        <time class="contacts-workhours-wrapper" datetime="08:00">08:00 AM</time>-
        <time class="contacts-workhours-wrapper" datetime="16:00">4:00 PM</time>
      </p>
      <!--nie do końca jestem tego pewien znacznik (TIME)-->
      <a href="tel:+61(0)383766284" class="contacts-tel">+61(0) 383 766 284</a>
      <a href="mailto:noreply@envato.com" class="contacts-email">noreply@envato.com</a>
    </li>
    <li class="contacts-main-item">
      <p class="contacts-place-type">CAFE</p>
      <p class="contacts-city">
        New York
        <a href="#" class="contacts-adress">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
        <!--link do gmaps w #-->
      </p>
      <p class="contacts-workhours">
        Monday - Friday
        <time class="contacts-workhours-wrapper" datetime="06:00">06:00 AM</time>-
        <time class="contacts-workhours-wrapper" datetime="22:00">10:00 PM</time>
      </p>
      <p class="contacts-workhours">
        Saturday - Sunday
        <time class="contacts-workhours-wrapper" datetime="08:00">08:00 AM</time>-
        <time class="contacts-workhours-wrapper" datetime="16:00">4:00 PM</time>
      </p>
      <!--nie do końca jestem tego pewien znacznik (TIME)-->
      <a href="tel:+61(0)383766284" class="contacts-tel">+61(0) 383 766 284</a>
      <a href="mailto:noreply@envato.com" class="contacts-email">noreply@envato.com</a>
    </li>
  </ul>
  <ul class="contacts-buttons">
    <li class="contacts-buttons-locations">
      <button
        type="button"
        class="contacts-button-location-wrapper"
        data-modal-open="our-locations"
      >
        Our Location
      </button>
    </li>
    <!--dodac otwiertanie modala na lokalizacje-->

    <li class="contacts-button-franchise">
      <button type="button" class="contacts-button-franchise-wrapper" data-modal-open="francise">
        Franchise
      </button>
    </li>
    <!--dodac otwiertanie modala na franczyze-->
  </ul>
</section>
