<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css"
      rel="stylesheet"
    />
    <title>Ice Cream Company</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
      integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/contacts.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Montserrat:wght@400;700;900&family=Seymour+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="contact">
      <h2 class="visually-hidden">Contacts</h2>
      <!--VISUALLY HIDDEN-->
      <ul class="contacts-list">
        <li class="contacts-main-item">
          <p class="contacts-place-type">CAFE</p>
          <p class="contacts-city">
            Chicago
            <a href="#" class="contacts-adress"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
            <!--link do gmaps w #-->
          </p>
          <p class="contacts-workhours">
            Monday - Friday
            <time class="contacts-workhours-wrapper" datetime="06:00">06:00 AM</time>-
            <time class="contacts-workhours-wrapper" datetime="22:00">10:00 PM</time>
          </p>
          <p class="contacts-workhours">
            Saturday - Sunday
            <time class="contacts-workhours-wrapper" datetime="08:00">08:00 AM</time>-
            <time class="contacts-workhours-wrapper" datetime="16:00">4:00 PM</time>
          </p>
          <!--nie do końca jestem tego pewien znacznik (TIME)-->
          <a href="tel:+61(0)383766284" class="contacts-tel">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts-email">noreply@envato.com</a>
        </li>
        <li class="contacts-main-item">
          <p class="contacts-place-type">FOODTRUCK</p>
          <p class="contacts-city">
            Los Angeles
            <a href="#" class="contacts-adress"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
            <!--link do gmaps w #-->
          </p>
          <p class="contacts-workhours">
            Monday - Friday
            <time class="contacts-workhours-wrapper" datetime="06:00">06:00 AM</time>-
            <time class="contacts-workhours-wrapper" datetime="22:00">10:00 PM</time>
          </p>
          <p class="contacts-workhours">
            Saturday - Sunday
            <time class="contacts-workhours-wrapper" datetime="08:00">08:00 AM</time>-
            <time class="contacts-workhours-wrapper" datetime="16:00">4:00 PM</time>
          </p>
          <!--nie do końca jestem tego pewien znacznik (TIME)-->
          <a href="tel:+61(0)383766284" class="contacts-tel">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts-email">noreply@envato.com</a>
        </li>
        <li class="contacts-main-item">
          <p class="contacts-place-type">CAFE</p>
          <p class="contacts-city">
            New York
            <a href="#" class="contacts-adress">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
            <!--link do gmaps w #-->
          </p>
          <p class="contacts-workhours">
            Monday - Friday
            <time class="contacts-workhours-wrapper" datetime="06:00">06:00 AM</time>-
            <time class="contacts-workhours-wrapper" datetime="22:00">10:00 PM</time>
          </p>
          <p class="contacts-workhours">
            Saturday - Sunday
            <time class="contacts-workhours-wrapper" datetime="08:00">08:00 AM</time>-
            <time class="contacts-workhours-wrapper" datetime="16:00">4:00 PM</time>
          </p>
          <a href="tel:+61(0)383766284" class="contacts-tel">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts-email">noreply@envato.com</a>
        </li>
      </ul>
      <ul class="contacts-buttons">
        <li class="contacts-buttons-locations">
          <button type="button" class="contacts-button-location-wrapper">Our Location</button>
        </li>
        <!--dodac otwiertanie modala na lokalizacje-->

        <li class="contacts-button-franchise">
          <button type="button" class="contacts-button-franchise-wrapper">Franchise</button>
        </li>
        <!--dodac otwiertanie modala na franczyze-->
      </ul>
    </section>
  </body>
</html>
