<section class="contact">
  <h2 class="visually-hidden">Contacts</h2>
  <ul class="contacts-list">
    <li class="contacts-main-item">
      <p class="contacts-place-type">CAFE</p>
      <p class="contacts-city">
        Chicago
        <a
          href="https://goo.gl/maps/4eVxgT3gDufwtKVs5"
          target="_blank"
          rel="nofollow noopener noreferrer"
          class="contacts-adress"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
      </p>
      <div class="contacts-workhours-box">
        <div class="contacts-workhours-opentime">
          <p class="contacts-workhours">Monday - Friday</p>
          <div class="contacts-workhours-wrapper">
            <time datetime="06:00">06:00 AM</time> -
            <time datetime="22:00">10:00 PM</time>
          </div>
        </div>
        <div class="contacts-workhours-opentime">
          <p class="contacts-workhours">Saturday - Sunday</p>
          <div class="contacts-workhours-wrapper">
            <time datetime="08:00">08:00 AM</time> -
            <time datetime="16:00">4:00 PM</time>
          </div>
        </div>
      </div>
      <div class="contacts-details">
        <a
          href="tel:+61(0)383766284"
          target="_blank"
          rel="nofollow noopener noreferrer"
          class="contacts-tel"
          >+61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="contacts-email">noreply@envato.com</a>
      </div>
    </li>
    <li class="contacts-main-item">
      <p class="contacts-place-type">FOOD TRUCK</p>
      <p class="contacts-city">
        Los Angeles
        <a
          href="https://goo.gl/maps/pa3rdbkshFpSVghF6"
          target="_blank"
          rel="nofollow noopener noreferrer"
          class="contacts-adress"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
      </p>
      <div class="contacts-workhours-box">
        <div class="contacts-workhours-opentime">
          <p class="contacts-workhours">Monday - Friday</p>
          <div class="contacts-workhours-wrapper">
            <time datetime="06:00">06:00 AM</time> -
            <time datetime="22:00">10:00 PM</time>
          </div>
        </div>
        <div class="contacts-workhours-opentime">
          <p class="contacts-workhours">Saturday - Sunday</p>
          <div class="contacts-workhours-wrapper">
            <time datetime="08:00">08:00 AM</time> -
            <time datetime="16:00">4:00 PM</time>
          </div>
        </div>
      </div>
      <div class="contacts-details">
        <a href="tel:+61(0)383766284" class="contacts-tel">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="contacts-email">noreply@envato.com</a>
      </div>
    </li>
    <li class="contacts-main-item">
      <p class="contacts-place-type">CAFE</p>
      <p class="contacts-city">
        New York
        <a
          href="https://goo.gl/maps/vxKiSwhznUbhwu36A"
          target="_blank"
          rel="nofollow noopener noreferrer"
          class="contacts-adress"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
      </p>
      <div class="contacts-workhours-box">
        <div class="contacts-workhours-opentime">
          <p class="contacts-workhours">Monday - Friday</p>
          <div class="contacts-workhours-wrapper">
            <time class="contacts-workhours-item" datetime="06:00">06:00 AM</time> -
            <time class="contacts-workhours-item" datetime="22:00">10:00 PM</time>
          </div>
        </div>
        <div class="contacts-workhours-opentime">
          <p class="contacts-workhours">Saturday - Sunday</p>
          <div class="contacts-workhours-wrapper">
            <time class="contacts-workhours-item" datetime="08:00">08:00 AM</time> -
            <time class="contacts-workhours-item" datetime="16:00">4:00 PM</time>
          </div>
        </div>
      </div>
      <div class="contacts-details">
        <a href="tel:+61(0)383766284" class="contacts-tel">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="contacts-email">noreply@envato.com</a>
      </div>
    </li>
  </ul>
  <ul class="contacts-buttons-list">
    <li class="contacts-buttons-item">
      <button type="button" class="contacts-button-wrapper" data-modal-open="6">
        Our Location<svg width="12" height="12">
          <use href="/src/images/contacts-button-arrow.svg#arrow-btn"></use>
        </svg>
      </button>
    </li>
    <li class="contacts-buttons-item">
      <button type="button" class="contacts-button-wrapper" data-modal-open="2">
        Franchise<svg width="12" height="12">
          <use href="/src/images/contacts-button-arrow.svg#arrow-btn"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
