<section class="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="swiper">
      <ul class="reviews swiper-wrapper">
        <li class="review swiper-slide">
          <div class="review-avatar-container">
            <img
              class="review-avatar"
              srcset="/src/images/reviewer-1@1x.jpg 1x, /src/images/reviewer-1@2x.jpg 2x"
              src="/src/images/reviewer-1@1x.jpg"
              width="85"
              alt="reviewer photo"
            />
          </div>
          <p class="review-paragraph">
            I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
            addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
          <p class="reviewer-name">Emily, Los Angeles</p>
        </li>
        <li class="review swiper-slide">
          <div class="review-avatar-container">
            <img
              class="review-avatar"
              srcset="/src/images/reviewer-2@1x.jpg 1x, /src/images/reviewer-2@2x.jpg 2x"
              src="/src/images/reviewer-2@1x.jpg"
              width="85"
              alt="reviewer photo"
            />
          </div>
          <p class="review-paragraph">
            Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
            excellent service - always served politely and quickly!
          </p>
          <p class="reviewer-name">Diana, Chicago</p>
        </li>
        <li class="review swiper-slide">
          <div class="review-avatar-container">
            <img
              class="review-avatar"
              srcset="/src/images/reviewer-3@1x.jpg 1x, /src/images/reviewer-3@2x.jpg 2x"
              src="/src/images/reviewer-3@1x.jpg"
              width="85"
              alt="reviewer photo"
            />
          </div>
          <p class="review-paragraph">
            Every day we come to you with friends after classes in college. We love your ice cream
            and casual atmosphere!
          </p>
          <p class="reviewer-name">Bryan, New-York</p>
        </li>
      </ul>
      <ul class="swiper-pagination">
        <li class="pagination-button"></li>
        <li class="pagination-button"></li>
        <li class="pagination-button"></li>
      </ul>
    </div>
  </div>
</section>
