<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer+contacts</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <main>
      <section class="contact">
        <h2>Contacts</h2>
        <!--VISUALLY HIDDEN-->
        <ul class="contacts-list">
          <li class="contacts-main-item">
            <p class="contacts-place-type">CAFE</p>
            <p class="contacts-city">
              Chicago
              <a href="#" class="contacts-adress"
                >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
              >
              <hr> <!--znaczniki hr zeby troche to oddzielic pewnie pozniej do wywalenia-->
              <!--link do gmaps w #-->
            </p>
            <p class="contacts-workhours">
              Monday - Friday <time class="contacts-workhours-wrapper">06:00 AM - 10:00 PM</time>
            </p>
            <p class="contacts-workhours">
              Saturday - Sunday <time class="contacts-workhours-wrapper">08:00 AM - 16:00 PM</time>
            </p>
            <hr>
            <!--nie do końca jestem tego pewien znacznik (TIME)-->
            <a href="tel:+61(0) 383 766 284" class="contacts-tel">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="contacts-email">noreply@envato.com</a>
          </li>
          <li class="contacts-main-item">
            <p class="contacts-place-type">FOODTRUCK</p>
            <p class="contacts-city">
              Los Angeles
              <a href="#" class="contacts-adress"
                >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
              >
              <hr>
              <!--link do gmaps w #-->
            </p>
            <p class="contacts-workhours">
              Monday - Friday <time class="contacts-workhours-wrapper">06:00 AM - 10:00 PM</time>
            </p>
            <p class="contacts-workhours">
              Saturday - Sunday <time class="contacts-workhours-wrapper">08:00 AM - 16:00 PM</time>
            </p>
            <hr>
            <!--nie do końca jestem tego pewien znacznik (TIME)-->
            <a href="tel:+61(0) 383 766 284" class="contacts-tel">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="contacts-email">noreply@envato.com</a>
          </li>
          <li class="contacts-main-item">
            <p class="contacts-place-type">CAFE</p>
            <p class="contacts-city">
              New York
              <a href="#" class="contacts-adress">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
              <hr>
              <!--link do gmaps w #-->
            </p>
            <p class="contacts-workhours">
              Monday - Friday <time class="contacts-workhours-wrapper">06:00 AM - 10:00 PM</time>
            </p>
            <p class="contacts-workhours">
              Saturday - Sunday <time class="contacts-workhours-wrapper">08:00 AM - 16:00 PM</time>
            </p>
            <hr>
            <!--nie do końca jestem tego pewien znacznik (TIME)-->
            <a href="tel:+61(0) 383 766 284" class="contacts-tel">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="contacts-email">noreply@envato.com</a>
          </li>
        </ul>
        <ul class="contacts-buttons">
          <li class="contacts-buttons-locations">
            <button type="button" class="contacts-button-location-wrapper">Our Location</button>
          </li>
          <!--dodac otwiertanie modala na lokalizacje-->

          <li class="contacts-button-franchise">
            <button type="button" class="contacts-button-franchise-wrapper">Franchise</button>
          </li>
          <!--dodac otwiertanie modala na franczyze-->
        </ul>
      </section>
    </main>

    <footer>
      <div class="footer-big-text">
        <p>homemade ice cream made</p>
        <span>with passion</span>
      </div>
      <div class="footer-socials">
        <ul class="footer-socials-svg">
          <!--dodac linki do svg-->
          <li>
            <svg width="34" height="34" class="footer-socials-GH"><use href="#"></use></svg>
          </li>
          <li>
            <svg width="34" height="34" class="footer-socials-TG"><use href="#"></use></svg>
          </li>
          <li>
            <svg width="34" height="34" class="footer-socials-FB"><use href="#"></use></svg>
          </li>
        </ul>
      </div>
      <p class="footer-contact-phone">Feel free to contact <a href="tel">+61 (0) 383 766 284</a></p>
      <hr />
      <p class="site-copyrights">© 2022 - IceCream. All Rights Reserved.</p>
    </footer>
  </body>
</html>
