
    <footer>
      <div class="footer-big-text">
        <p>homemade ice cream made</p>
        <span>with passion</span>
      </div>
      <div class="footer-socials">
        <ul class="footer-socials-svg">
          <!--dodac linki do svg-->
          <li>
            <svg width="34" height="34" class="footer-socials-GH"><use href="#"></use></svg>
          </li>
          <li>
            <svg width="34" height="34" class="footer-socials-TG"><use href="#"></use></svg>
          </li>
          <li>
            <svg width="34" height="34" class="footer-socials-FB"><use href="#"></use></svg>
          </li>
        </ul>
      </div>
      <p class="footer-contact-phone">Feel free to contact <a href="tel">+61 (0) 383 766 284</a></p>
      <hr />
      <p class="site-copyrights">© 2022 - IceCream. All Rights Reserved.</p>
    </footer>
