
  <div class="container">
    <div class="footer__container">
    <div class="ft-layout">
      <div class="footer-big-text">
        <p>homemade ice cream made</p>
        <span>with passion</span>
      </div>
      <div>
        <ul class="footer-socials-svg">
          <!--dodac linki do svg-->
          <li class="ft-icon-background">
            <svg width="34" height="34" class="footer-socials-icons">
              <use href="./images/footer.svg#icon-GH"></use>
            </svg>
          </li>
          <li class="ft-icon-background">
            <svg width="34" height="34" class="footer-socials-icons">
              <use href="./images/footer.svg#icon-telegram"></use>
            </svg>
          </li>
          <li class="ft-icon-background">
            <svg width="34" height="34" class="footer-socials-icons">
              <use href="./images/footer.svg#icon-FB"></use>
            </svg>
          </li>
        </ul>
        <p class="footer-contact-phone">
          Feel free to contact <a href="tel">+61 (0) 383 766 284</a>
        </p>
      </div>
    </div>
    </div>
    <div class="copyright-container">
      <p class="site-copyrights">© 2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>

