<section class="gallery container">
  <!-- Gallery -->
  <div id="slider">
    <figure>
      <img
        class="gallery-image"
        src="./slider/slider.jpg"
        srcset="./slider/slider.jpg 1x, ./slider/slider_2x.jpg 2x"
        alt="six icecreams in corns"
      />
      <img
        class="gallery-image"
        src="./slider/slider2.jpg"
        srcset="./slider/slider2.jpg 1x, ./slider/slider2_2x.jpg 2x"
        alt="colorfull icecreams in corns"
      />
      <img
        class="gallery-image"
        src="./slider/slider3.jpg"
        srcset="./slider/slider3.jpg 1x, ./slider/slider3_2x.jpg 2x"
        alt="pink icecreams"
      />
      <img
        class="gallery-image"
        src="./slider/slider.jpg"
        srcset="./slider/slider.jpg 1x, ./slider/slider_2x.jpg 2x"
        alt="six icecreams in corns"
      />
    </figure>
  </div>
</section>
