<div class="container">
  <nav class="nav-section">
    <img
      srcset="
        ./images/logo-mob@1x.png 40w,
        ./images/logo-mob@2x.png 80w,
        ./images/logo-tab@1x.png 48w,
        ./images/logo-tab@2x.png 96w
      "
      sizes="(min-width:768px) 48px, 40px"
      src="./images/logo.png"
      alt="logo"
    />
    <ul class="nav__list">
      <li><a href="#id">Home</a></li>
      <li><a href="#id">How it's made?</a></li>
      <li><a href="#id">Our products</a></li>
      <li><a href="#id">Contact</a></li>
    </ul>
    <button class="nav__button buy__button" type="button">Buy now ></button>
    <button class="nav__button" type="button">HAMGURGER</button>
  </nav>
</div>
<section class="hero-section">
  <div class="container">
    <div class="hero-left-side">
      <h1 class="hero__section-main-title">Ice Cream made with passion</h1>
      <a class="hero_link-button" href="#">Products</a
      ><a class="hero_link-link" href="#">How it's made?</a>
      <div class="plate-section">
        <img src="#" alt="plate with icecream on it" />
        <p class="hero-par">
          Indulge in a scoop of ice cream made with passion and treat your taste buds to an
          unforgettable experience!
        </p>
        <button type="button"><img src="#" alt="#" /></button>
      </div>
    </div>
    <div class="hero-right-side"></div>
    <img
      class="hero-img"
      src="/src/images/ice-cream-hero1x.png"
      alt="Ice cream with 1 orange, 1 pink and 1 green ball on a top, all balls have cartoons eyes and smile"
    />
    <ul class="hero__list">
      <li><span>16</span>cafes</li>
      <li><span>23</span>food trucks</li>
    </ul>
  </div>
</section>
