<!-- Kod napisany przez Ariela, sprawdzony i poprawiony przez WKotlinski -->
<div class="container">
  <nav>
    <svg class="header-logo" width="60px" height="65px">
      <use href="./images/logo-header.svg#icon-Logo" />
    </svg>
    <ul class="header-menu">
      <li><a href="#id">Home</a></li>
      <li><a href="#id">How it's made?</a></li>
      <li><a href="#id">Our products</a></li>
      <li><a href="#id">Contact</a></li>
    </ul>
  </nav>
  <button type="button" class="header-button">Buy now</button>
</div>

<section class="hero">
  <div class="container">
    <h1>Ice Cream made with passion</h1>
    <div class="hero-buttons">
      <a href="#"> Products</a>
      <a href="#"> How it's made</a>
    </div>
    <div class="hero-plate-content">
      <img src="#" class="rotate-plate" alt="#" />
    </div>
    <div class="hero-entry">
      <p>
        Indulge in a scoop of ice cream made with passion and treat your taste buds to an
        unforgettable experience!
      </p>
      <a class="hero-entry-link" href="#products">
        <svg class="hero-arrow"></svg>
      </a>
    </div>
    <div class="hero-stats">
      <p class="hero-stats-element">
        <span class="hero-stats-element">16</span>cafes
        <span class="hero-stats-element">23</span>food trucks
      </p>
    </div>
    <div class="her-stats-ice">
      <img src="#" class="hero-stats-ice-svg" alt="#" />
    </div>
  </div>
</section>
