<!-- Modal buy now -->
<div>
  <div>
    <h2>Buy now</h2>
    <form>
      <div><input type="checkbox" name="buy" value="ice cream" /><label>ice cream</label></div>
      <div><input type="checkbox" name="buy" value="ice coffee" /><label>ice coffee</label></div>
      <div><input type="checkbox" name="buy" value="milkshake" /><label>milkshake</label></div>
      <div>
        <input
          type="text"
          name="name"
          id="products-name"
          placeholder=" "
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
          required
          minlength="2"
        /><label for="products-name">Name</label>
      </div>
      <div>
        <input
          type="tel"
          name="tel"
          id="products-tel"
          placeholder=" "
          required
          minlength="9"
        /><label for="products-tel">Phone</label>
      </div>
      <div>
        <textarea name="modal-form__textarea" id="products-comment" placeholder=" "></textarea
        ><label for="products-comment">Comment</label>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
<!-- Modal chocolate icecream -->
<div>
  <div>
    <h2>Chocolate icecream</h2>
    <div>
      <img src="../images/Ellipse67.jpg" alt="icream cone" />
    </div>
    <div>
      <ul>
        <li><span>320</span>kcal</li>
        <li><span>4g</span>Protein</li>
        <li><span>8,2g</span>Fats</li>
        <li><span>40,4g</span>Carbs</li>
      </ul>
      <p>Ingredients</p>
      <ul>
        <li>Milk<span>100ml</span></li>
        <li>Belgian chocolate<span>20g</span></li>
        <li>Cream<span></span>150 ml</li>
        <li>Cocoa powder<span>30g</span></li>
        <li>Sugar<span></span>40g</li>
        <li>Vanilla sugar<span>10g</span></li>
      </ul>
      <form>
        <div>
          <input
            type="text"
            name="name"
            id="icecream-name"
            placeholder=" "
            required
            minlength="2"
          /><label for="icecream-name">Name</label>
        </div>
        <div>
          <input
            type="tel"
            name="tel"
            id="icecream-tel"
            placeholder=" "
            required
            minlength="9"
          /><label for="icecream-tel">Phone</label>
        </div>
        <div>
          <textarea name="modal-form__textarea" id="icecream-comment" placeholder=" "></textarea
          ><label for="icecream-comment">Comment</label>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
<!-- modal read more -->
<div>
  <div>
    <h2>How it's made?</h2>
    <iframe
      width="224"
      src="https://www.youtube.com/embed/FavUpD_IjVY"
      title="cows &amp; cows &amp; cows"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et
    </p>
  </div>
</div>
<!-- modal our locations -->
<div>
  <div>
    <div>
      <h2>Our Locations</h2>
      <img src="../images/mapmobile.jpg" alt="map" /><a
        href="https://goo.gl/maps/expSHVfVwxbLBAXM9"
      >
        Open map
      </a>
    </div>
  </div>
</div>
<!-- modal francise  -->
<div>
  <div>
    <div>
      <h2>Thank you for your interest in owning an Ice Cream shop</h2>
      <p>
        Due to the overwhelming volume of franchise requests we are not accepting new franchisee
        applications at this time. Once the application process resumes, we will contact you for
        further information. Please fill out the contact information below and we will reach out for
        additional information. We appreciate your patience.
      </p>
      <form>
        <div>
          <input
            type="text"
            name="name"
            id="francise-name"
            placeholder=" "
            required
            minlength="2"
          /><label for="francise-name">Name</label>
        </div>
        <div>
          <input
            type="tel"
            name="tel"
            id="francise-tel"
            placeholder=" "
            required
            minlength="9"
          /><label for="francise-tel">Phone</label>
        </div>
        <div class="modal-form__input-wrapper">
          <input type="email" name="email" id="franchise-email" placeholder=" " required="" />
          <label for="franchise-email">Email</label>
        </div>
        <div>
          <textarea name="modal-form__textarea" id="francise-comment" placeholder=" "></textarea
          ><label for="francise-comment">Comment</label>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
