<section class="products container">
  <div class="products-box">
    <div>
      <p class="products-pre-title">100% natural</p>
      <h2 class="products-title">products</h2>
    </div>
    <ul class="products-list">
      <li class="products-item">
        <h3 class="products-headings">ice cream</h3>
        <p class="products-paragraph">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
        </p>
        <button type="button" data-modal-open="icecream">
          <svg width="40" height="16">
            <use href="./images/arrow.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-item">
        <h3 class="products-headings">ice coffee</h3>
        <p class="products-paragraph">
          Fragrant invigorating drink created from 100% natural ingredients without the use of
          preservatives and flavor enhancers
        </p>
        <button type="button" data-modal-open="ice-coffe">
          <svg width="40" height="16">
            <use href="./images/arrow.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-item">
        <h3 class="products-headings">milkshakes</h3>
        <p class="products-paragraph">
          Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and
          other sweets of your choice
        </p>

        <button type="button" data-modal-open="milkshakes">

        <button type="button" class="products-btn">

          <svg width="40" height="16">
            <use href="./images/arrow.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
