<section>
  <div>
    <div>
      <p>100% natural</p>
      <h2>products</h2>
    </div>
    <ul>
      <li>
        <h3>ice cream</h3>
        <p>
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
        </p>
        <button type="button" data-modal-open="icecream">
          <svg width="40" height="16">
            <use href="./images/arrow.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li>
        <h3>ice coffee</h3>
        <p>
          Fragrant invigorating drink created from 100% natural ingredients without the use of
          preservatives and flavor enhancers
        </p>
        <button type="button" data-modal-open="ice-coffe">
          <svg width="40" height="16">
            <use href="./images/arrow.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li>
        <h3>milkshakes</h3>
        <p>
          Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and
          other sweets of your choice
        </p>
        <button type="button" data-modal-open="milkshakes">
          <svg width="40" height="16">
            <use href="./images/arrow.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
