/*              CONTACTS         */


.contact {
    padding-bottom: 60px;}

.contacts-list {
    gap: 20px;
    display: grid;
    justify-content: center;
}

.contacts-main-item {
    width: 280px;
    background-color: var(--white);
    border-radius: 24px;
    padding: 40px 32px 24px 32px;
    box-shadow: 0 8px 30px 0px rgba(212, 20, 67, 0.1);
}

.contacts-place-type {
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.48px;
    min-width: 80px;
    background-color: var(--yellow);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 4px 20.5px;
    display: inline-block;
}

.contacts-city {
    font-size: 12px;
    letter-spacing: 0.48px;
    border-bottom: 1px solid hsla(0, 0%, 88%, 1);
    padding-bottom: 24px;}

.contacts-adress {
    color: hsla(22, 56%, 63%, 1);
    margin-top: 8px;
    line-height: 1.83;
    display: block;
}

.contacts-workhours-box {
    padding: 24px 0;
    display: grid;
    gap: 8px;
    border-bottom: 1px solid hsla(0, 0%, 88%, 1);

}

.contacts-workhours-opentime {
    display: flex;
    flex-direction: column;
}

.contacts-workhours {
    letter-spacing: normal;
    font-size: 12px;
    line-height: 1.86;
}

.contacts-workhours-wrapper {
    color: var(--grey);
    display: block;
    font-size: 12px;
    line-height: 1.86;
}

.contact-details a {
    color: var(--not-so-black);
}

.contacts-details {
    font-size: 12px;
    line-height: 1.6;
    padding-top: 24px;
}

.contacts-tel {
    color: var(--not-so-black);
}

.contacts-email {
        color: var(--not-so-black);
}

.contacts-buttons-list {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    display: flex;
}
/*
.contacts-buttons-locations {}
*/
.contacts-button-location-wrapper {
    background-color: var(--yellow);
    min-width: 196px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    display: flex;
    transition: fill .25s cubic-bezier(.4, 0, .2, 1), color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1);
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    outline: none;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    
}
.contacts-button-location-wrapper:hover {
    background-color: #0a8817;
}
.contacts-button-location-wrapper:focus {
    background-color: #0a8817;
    color: var(--white);
    fill: var(--white);
}
/*
.contacts-button-franchise {}
*/

.contacts-button-franchise-wrapper {
    background-color: transparent;
    min-width: 196px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    display: flex;
    transition: fill .25s cubic-bezier(.4, 0, .2, 1), color .25s cubic-bezier(.4, 0, .2, 1), border-color .25s cubic-bezier(.4, 0, .2, 1); 
    cursor: pointer;
    border-color: var(--yellow);
    border: 2px solid var(--yellow);
    border-radius: 8px;
    outline: none;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
}
.contacts-button-franchise-wrapper:hover {
    border-color: #0a8817;
}
.contacts-button-franchise-wrapper:focus {
    border-color: #0a8817;
    color: var(--white);
    fill: var(--white);
}